out
**/*.txt
*.swp
src/*.o
bin/HPCG-Benchmark_3*.txt
bin/xhpcg
bin/hpcg20*.txt
.DS_Store
build/testing/*
build/src/*.o
build/bin/*
build/**
map_build/**
run_dir/**
!run_dir/*.sh 
!run_dir/*.slurm
test/Object_files
test/**
test/test 
!build/testing/run.sh
